---
import Layout from "../components/layout.astro";
import "@fontsource-variable/jetbrains-mono";
import { ME_DESCRIPTION } from "../config";
import ContactRow from "../components/contact-row.astro";
import { WORK_EXPERIENCE } from "../config";
import Skills from "./Skills.tsx";
---

<Layout hideFooter title="About Me">
  <div class="max-w-screen-lg mx-auto pb-24">
    <div class="bg-neutral-900/60 rounded-lg p-4 mt-[60px] md:mt-[80px] mb-6">
      <div class="flex-col md:flex-row flex  justify-center gap-6 md:gap-10 h-full text-white">
        <div>
          <section>
          <div class="flex justify-center">
            <div class="relative w-52 h-52">
              <img 
                class="w-full h-full rounded-full transition-transform duration-300 ease-out"
                src="../../public/moi.png" 
                alt="photo du proprietaire du site" 
                id="animated-image"
              />
            </div>
          </div>

          <h3 class="text-white text-3xl font-logo text-center m-6">Salut ! Moi c'est Julien</h3>
          <p class="font-mono text-slate-400 my-6 mb-10 text-justify" style="word-spacing: 0.5px;" set:html={ME_DESCRIPTION} />
          </section>
          <Skills />

          <div class="min-w-80 w-full md:px-16">
            <div class="flex flex-col border border-slate-600 gap-4 p-4 mt-6 pt-0">
              <div class="flex flex-wrap items-center">
                <h3 class="text-lg pt-6 text-white font-logo">Experience</h3>
              </div>
              <ul class="flex flex-col gap-4 text-slate-400 m-0">
                {WORK_EXPERIENCE.map((item) => (
                  <li class="flex flex-col">
                    <h4 class="text-lg">{item.company}</h4>
                    <div class="flex justify-between text-slate-500">
                      <p class="text-sm">{item.position}</p>
                      <p class="text-sm">{item.startDate} - {item.endDate}</p>
                    </div>
                  </li>
                ))}
              </ul>
    
              <a
                class="px-4 py-2 border border-slate-400 hover:bg-[#FFBA55] rounded-lg"
                target="_blank"
                href="/public/JulienRousselotCV.pdf"
              >
                <div class="flex flex-row gap-2 items-center text-white justify-center">
                  <span>Mon CV </span>
                  <img class="w-6" src="../../public/cv.png" alt="mon cv">
                </div>
              </a>
            </div>
        </div>

        <section class="flex flex-col justify-center text-slate-400">
          <p class="font-mono flex flex-col py-6">
            <span class="font-semibold text-xl text-balance py-6">Le développement web, c’est aussi faire face à des bugs et des imprévus. Dans cette vidéo, je partage plusieurs solutions à des problèmes que j’ai rencontrés, avec des explications simples et efficaces. </span>
            <span>🌔 Correction de [nom du problème 1]</span>
            <span>🌔 Optimisation de [nom du problème 2]</span>
            <span>🌔 Astuce pour [nom du problème 3]</span></p>
          <video onloadstart="volume=0.1" controls src="../../public/pew.mp4">Tuto Youtube</video>
        </section>

          <footer class="flex flex-col justify-center items-center  border-slate-600 p-4 mt-4">
            <h3 class="text-white text-3xl flex font-logo orbitron">Contacts</h3>
            <ContactRow />
          </footer>
        </div>
      </div>
    </div>
  </div>
<!-- </Layout> -->


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const image = document.getElementById("animated-image");

    document.addEventListener("mousemove", (event) => {
      const { clientX, clientY } = event;
      const { innerWidth, innerHeight } = window;

      const moveX = ((clientX / innerWidth) - 0.5) * 20;
      const moveY = ((clientY / innerHeight) - 0.5) * 20;

      if (image) {
        image.style.transform = `translate(${moveX}px, ${moveY}px)`;
      }
    });

    document.addEventListener("mouseleave", () => {
      if (image) {
        image.style.transform = "none"; // Réinitialise l'animation
      }
    });
  });
</script>